.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav{
  background: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header{
  background: #f5bb18;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.spacer {
  flex: 1 1 auto;
}

.user{
  padding: 0 14px;
}





