<div class="main">
  <mat-card>
    <form [formGroup]="noteForm" (ngSubmit)="createNote()">
      <mat-card-header>
        <mat-card-title>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input id="title" matInput placeholder="Enter title..." formControlName="title"> 
          </mat-form-field>
        </mat-card-title>
      </mat-card-header>

      <mat-card-header>
        <mat-form-field>
          <textarea matInput id="note" placeholder="Enter your note" formControlName="note"></textarea>
        </mat-form-field>
      </mat-card-header>
      <br>
      <mat-card-header>
        <button  mat-raised-button  type="submit" [disabled]="!noteForm.valid">
          <i class="material-icons">
            save_alt
          </i>
          Save
        </button>
      </mat-card-header>
      <br>
    </form>
  </mat-card>
</div>